<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    </head>
    <body>
        <div class="section">
            <div id="root" style="margin: 0 auto"></div>
        </div>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    </body>
</html>
